body {
  display: flex;
  justify-content: center;
  background: #000;
  cursor:crosshair
}


div.edit {
  position: absolute;
  left:4px;
  display: table;
  left:1100px;
  top:14px;
  display:none;
}
div.borgg {

         border:1px solid blue;

}
div.inputrozhrani {

  display: none;
 }
 div.rozbaleni__checked {
   display:none
 }
 input.on--something {
   display: none;
 }
input {
  display: block;
  padding: 14px;
  margin: 14px;
  position: relative;
}
div.wrap {
  position: absolute;
  cursor: crosshair;
  left:-700px;
  height: 500px;
  width: 1000px;
}
div.array {
  position: absolute;
  height: 600px;
  width: 800px;
  left:300px;
  background: white;

}
div.js {
  visibility: hidden;
}
div.array:active {
}
div.wiewcode {


  color:lightgreen;
  display: none;
  height: 144px;
  font-style: monospace;
  width: auto;
  background: white;
}
div.every {
  position: absolute;
}
div.button {
  height: 44px;
  width: auto;
  position: relative;
  padding: 0.4px;
  border: 0.1px solid #000;
  opacity: 0.4;
  background: white;
}
div.button:hover {
  background: grey;
}
div.container {
  height: 94%;
  width : 244px;
  background: #1a1a1a;
  position: absolute;
  left: 14px;
  top : 0;
  margin: 14px;

}


.color {
  display: flex;
  position: relative;
  left:14px;
}
div.lightblue {
  background: lightblue;
  width: 14px;
  height: 14px
}
div.red {


  height: 14px;
  width: 14px;
  background: red;
}
div.yellow {


  height: 14px;
  width: 14px;
  background: yellow;
}
div.violet {


  height: 14px;
  width: 14px;
  background: violet;
}
div.green {


  height: 14px;
  width: 14px;
  background: green;
}
div.white {


  height: 14px;
  width: 14px;
  background: white ;
}
